html{font-family:"Bliss-Bold","Helvetica Neue",Museo Sans For Dell,Roboto,Arial,sans-serif; background-color: #f4f2f2}

#wrapper{width: 600px;height: 40%; margin: 10% auto ; background-color:white;padding: 20px}

#title{text-align: center;margin: 0;padding: 10 ; color: white;background-color: #f14a51 ; font-size: 40}

#mh{font-size: 30px; padding: 0 ; text-align: center;margin-top:-10  }

#lForm{margin: 0px auto ;width: 340}

#btnLogin{font-family:"Bliss-Bold","Helvetica Neue",Museo Sans For Dell,Roboto,Arial,sans-serif; background-color: #f14a51;color: white;
    font-size: 15px;margin-left: 207px; margin-top: 5; width: 100px}

tr td input{width: 135 ; margin-right: 15; padding: 2 0 2 5 }

th{text-align: left ;}

table{margin:auto;margin-top: -10}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0,0,0,0.3);;
   color: white;
}

a{color: white}

#cr{float: left; padding: 5}
#w{ text-align: center }
#o{float: right; padding: 5}






/*
html{font-family:"Bliss-Bold","Helvetica Neue",Museo Sans For Dell,Roboto,Arial,sans-serif; background-color: #f4f2f2}

#wrapper{width: 600px;height: 40%; margin: 10% auto ; background-color:white;padding: 20px}

#title{text-align: center;margin: 0;padding: 10 ; color: white;background-color: #f14a51 ; font-size: 40}

th{text-align: left ;}

#lForm{margin: 0px auto ;width: 340}

#mh{font-size: 30px; padding: 0 ; text-align: center;margin-top: 45}

#btnLogin{font-family:"Bliss-Bold","Helvetica Neue",Museo Sans For Dell,Roboto,Arial,sans-serif; background-color: #f14a51;color: white;
    font-size: 15px;margin-left: 207px;width: 100px}

tr td input{width: 135 ; margin-right: 5; padding: 2 0 2 5 }

table{margin:auto; margin-top:50}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0,0,0,0.3);;
   color: white;
}

a{color: white}

#cr{float: left; padding: 5}
#w{float: left; margin-left: 230px; padding: 5}
#o{float: right; padding: 5}
*/
